* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

header .head {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.nav-list-item {
  display: inline-block;
  margin: 0 30px;
}

.nav-list-item a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

#About {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.About-text-box {
  padding-top: 200px;
  text-align: center;
  color: #FAFAFA;
}

.About-text {
  font-size: 64px;
  font-weight: bold;
}

.About-mini-text {
  padding-top: 10px;
  font-size: 20px;
}

.Portfolio-color {
  background-color: #ECEFF1;
  width: 100%;
}

#Portfolio {
  width: 920px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.Portfolio-text-box {
  padding-top: 90px;
  text-align: center;
  color: #000000;
}

.Portfolio-text {
  font-size: 32px;
}

.underline {
  margin: 8px auto 30px;
  height: 3px;
  width: 70px;
  background-color: #EC715F;
}

.Portfolio-mini-text {
  font-size: 16px;
  margin-bottom: 30px;
}

.Photo-library {
  display: flex;
  flex-wrap: wrap;
}

.Photo {
  width: 300px;
  height: 250px;
}

.Photo:nth-child(1) {
  margin: 0 10px 10px 0;
  background-image :url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.Photo:nth-child(2) {
  margin: 0 10px 10px 0;
  background-image :url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.Photo:nth-child(3) {
  margin-bottom: 10px;
  background-image :url(img/write.jpg);
  background-size: cover;
  background-position: center;
}

.Photo:nth-child(4) {
  margin-right: 10px;
  background-image :url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}

.Photo:nth-child(5) {
  margin-right: 10px;
  background-image :url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}

.Photo:nth-child(6) {
  background-image :url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}